body {
  background-color: var(--black-color);
  text-align: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.content_paypal h3 {
  font-size: 23px;
}

.content_paypal p {
  color: var(--white-color);
  font-size: 15px;
}

.content_paypal a {
  color: var(--green-color);
  text-decoration: none;
  font-size: 15px;
}
